<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    (ngSubmit)="onSubmit(f)"
    #f="ngForm"
  >
    <mat-form-field>
      <input
        type="email"
        placeholder="Your email"
        matInput
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >Please enter your email id.</mat-error
      >
      <mat-error *ngIf="emailInput.value?.length != 0"
        >Invalid email address.</mat-error
      >
    </mat-form-field>

    <mat-form-field hintLabel="Should be atleast 6 characters long.">
      <input
        type="password"
        placeholder="Password"
        matInput
        ngModel
        name="password"
        required
        minlength="6"
        #pwdInput="ngModel"
      />
      <mat-hint align="end"> {{ pwdInput.value?.length }} / 6</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Choose a date"
        [max]="maxDate"
        [matDatepicker]="picker"
        ngModel
        name="datePicked"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox ngModel name="agree" required>
      Agree to terms and conditions.
    </mat-checkbox>

    <!-- <div class=""> -->
    <!-- <button mat-stroked-button color="warn">Cancel</button> -->
    <button type="submit" mat-raised-button color="primary">Submit</button>
    <!-- </div> -->
  </form>
</section>
